# Variable assignment

As briefly explained in the last notebook, you will often want to save data inside of variables. Variables are named data obects that allow you to save data inside of Python's memory. They are case sensitive and should ideally contain a brief description of their contents. They are case sensitive and should not begin with a number or a symbol.

Names should be **unique**. If you reuse an old name, its definition will be overwritten! Keep in mind this three-piece recipe: 

* The **variable name** goes on the _LEFT SIDE_
* The **equals sign** `=` goes in the _MIDDLE_
* The variable's **definition** goes on the _RIGHT SIDE_

**HINT**: You also learned that text data should always be wrapped in quotations (single? double?)

We want to save data inside of variables in Python because we can then manipulate those variables to perform complex tasks!

We also want to utilize a few built-in functions to figure out the data 

- The `pwd` function will show you the file pate to your working directory (more on this in Week2).  
- `ls` returns the contents of your working directory.  
- `del` deletes a single variable.  
- `%who` will show you variables you have defined in your global environment.

In [21]:
pwd

'/Users/evan.admin/Desktop/DIGHUM101-LOCAL-ONLY-May19/forbc/Week1'

In [22]:
ls

1-1_JupyterNotebooks.ipynb
1-2_VariableAssignment_Types_Structures.ipynb
1-3_WorkingWithStrings.ipynb
1-4_datascienceTables.ipynb
img/
poe.txt

In [23]:
# variables persist between cells and even between notebooks! 
%who

my_list	 my_list2	 my_list3

In [25]:
del(variable_name)

NameError: name 'variable_name' is not defined

# Challenge 1
1. Define a variable named Name that stores your name.  
2. Define a variable named Age that stores your age.  
3. Define a variable named City that stores your hometown.

In [45]:
## YOUR CODE HERE

In [26]:
Name = "Evan"
Age = 27
City = "Lansing"

Read and run the cell below to see how we can combine different values in expressions:

In [31]:
# 4. What is the function in the below line of code? How many arguments are there? (hint: they are separated by commas)
print(Name, "is", Age, "years old", "and is from ", City + ".")

Evan is 27 years old and is from  Lansing.

In [32]:
# 6. Why does the following line of code return an error message? 
# hint: this is actually a super helpful error message!
# What is Samantha? Why is it "not defined"?
Name = Samantha

NameError: name 'Samantha' is not defined

# Data types

So far we have seen a few examples with floats, integers, strings, and logical types. The type of data is important because **types control what operations can be done on values**!

We can use the `type` function to check the type/class of some data!

In [36]:
# string data (text/character)
type(Name)

str

We will discuss this more in the next notebook, but know that strings have methods that can be accessed by typing a period after the name of your string variable. 

Type Name. and then press the tab key so that the list of methods appears. What do you think ".upper()" will do? Try it!

In [107]:
Name.

SyntaxError: invalid syntax (<ipython-input-107-61c5b202a588>, line 1)

In [108]:
# floating point numbers (decimals)
type(3.14)

float

In [109]:
# integers (positive and negative whole numbers including zero)
type(5)

int

In [110]:
# boolean True and False logical values
type(True)

bool

# Challenge 2

Why does the following code produce an error?

In [111]:
print("Hello World!')

SyntaxError: EOL while scanning string literal (<ipython-input-111-1de2ea13ff3e>, line 1)

And this one?

In [112]:
print("I am " + 27 + " years old.")

# hint: read the error message for some helpful information!

TypeError: must be str, not int

# Data type conversion

Converting data types is also very important. In the second part of Challenge 2 above, the integer 27 is unacceptable because it needs to first be coerced ("changed") to string type. After we go through the cells below, return to the problem above and fix the error message by converting 27 to a string. 

Let's see what happens when we try to convert the following values:

In [114]:
print(Name)
print(Age)
print(City)

Isabel Allende
27
Lansing

In [115]:
# convert Age to a string using `str`!
Age_str = str(Age)
print(Age_str)
print(type(Age_str))

27
<class 'str'>

In [116]:
# convert Age to a float
Age_float = float(Age)
print(Age_float)
print(type(Age_float))

27.0
<class 'float'>

In [117]:
# convert bool to an integer
bool_int_T = int(True)
bool_int_F = int(False)
print(bool_int_T)
print(bool_int_F)
print(type(bool_int_T))

1
0
<class 'int'>

In [118]:
# convert a string to an integer! (what happened?)
str_int = int(Name)
print(str_int)

ValueError: invalid literal for int() with base 10: 'Isabel Allende'

# Challenge 3

Remember that the order in which you program your code affects how it is output. Without running any code, what is the output of the print statement below?

In [119]:
initial = "left"  
position = initial + " " + "of" + " " + "center"
initial = "right" + "center"
print(position)

left of center

# Indexing

In Python programming, order matters (note: dictionaries are the main exception). This allows us to reference certain parts of a piece of data by its position, or index. 

Use bracket notation `[:]` to tell Python what parts of a piece of data (which "slice") you want. The number to the left side of the colon is the start point and the number to the right is the _excluded end point_

In [120]:
Name = "Isabel Allende"
print(Name)

Isabel Allende

What if we just want to index the third letter?

In [121]:
Name[2]

# wait, the number 2 gets us the third letter?

'a'

What if we just want the first name? We can use the character positions to reference only the first _five_ characters:

In [122]:
first_name = Name[0:6]
print(first_name)

Isabel

**Whoa!** _What is happening here?!_ Note that the letter "I" is indexed by the 0th position!

In [123]:
Name[0]

'I'

This is because you do not have to move at all to reference the first letter - you are already at the first character! 

Thus, Python is said to be a **_zero-indexed language_** - the first element in a string or a list is the 0th element.

In [125]:
# how about this - what changed compared to Name[0:6]?
first_name = Name[:7]
print(first_name)

Isabel

In [126]:
# You can also go every second character ("stride")!
stride_name = Name[::2]
print(stride_name)

Iae led

In [127]:
# ... or every third!
stride_name2 = Name[::3]
print(stride_name2)

Ib ld

# Challenge 4

Save the title of your favorite movie inside of a variable named "movie". 

1. Index just the first letter.  
2. Index only the fourth letter.  
3. Index the first two letters.  
4. Index the last three letters (hint: use the `len` function to find out how many characters are in the title of your movie)

In [145]:
## YOUR CODE HERE

# Data structures

Although storing single numbers and names within variables is OK, we often want to store more than one thing! In reality, we will eventually want to store large amounts of complex data within single variables. Data often take the following structures in Python. 

1. Strings
2. Lists
3. Arrays
4. Dictionaries
5. Tuples

You've seen a little about how strings work and we will focus on them in later notebooks. However, it is important to spend some time covering lists and arrays. 

Dictionaries are also important, as they _contain unordered key/value pairs_ as are tuples (immutable lists), but more on these later.

### Lists
Lists are useful when you want to store more than one thing inside of a variable! These values can be of different data types. 

Make a list by separating values by commas within brackets.  

Add your favorite food to the end of your Name, Age, and City. Thus, your list should have four elements:

In [104]:
my_list = [Name, Age, City, "Sushi"]
print(my_list)

['Isabel Allende', 27, 'Lansing', 'Sushi']

**NOTE**: lists have methods that are called by typing a period after the name of your variable!

Now, add your major using the `.append` method:

In [17]:
my_list2 = my_list.append("Anthropology")
print(my_list)

['Evan', 27, 'Lansing', 'Sushi', 'Anthropology']

### Arrays
Arrays are used when data are of the same type!

In [133]:
my_array = [5,6,7,8]
print(my_array)

[5, 6, 7, 8]

### Dictionaries
Dictionaries contain unordered key/value pairs.

In [146]:
my_dictionary = {"Name": "Evan", 
                 "Age":27, 
                 "City": "Lansing", 
                 "Favorite food": "Sushi",
                 "Major": "Anthropology",
                 "Hungry": True
                }
print(my_dictionary)

{'Name': 'Evan', 'Age': 27, 'City': 'Lansing', 'Favorite food': 'Sushi', 'Major': 'Anthropology', 'Hungry': True}

So, if I just want to see the Favorite food from this dictionary, I can type:

In [151]:
my_dictionary["Favorite food"]

'Sushi'

### Tuples
Tuples are similar to lists and arrays, but they are unchangeable ("immutable"). 

For example, we cannot change the output of 10 (the dividend) divided by 3 (the divisor) - by definition the quotient is 3 and the remainder is 1.

In [154]:
div = divmod(10,3)
print(div)
print(type(div))

(3, 1)
<class 'tuple'>

# Logical operators

In [156]:
# == (is equal to )
5 == 6

False

In [157]:
# >, <, >=, <= (greater than/less than, equal to)
print(3 < 5)
print(3 > 5)
print(4 >= 4)
print(5 <= 4)

True
False
True
False

In [158]:
# != (not equal to)
5 != 4

True

# Challenge 5

Syntax is very important to programming. Computers expect us to enter input in a highly specified way. 

Why does the following code fail? What is it probably supposed to do, and what is it actually doing?

In [134]:
age == 31

NameError: name 'age' is not defined

and

In [ ]:
31 = age